@model List<Course>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Credit</td>
            <td>Semester</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.Credit</td>
                <td>@item.Semester</td>
            </tr>
        }
    </tbody>
</table>